$base_font_size: 16px;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorOrange: #da291c;

$primaryCopy: 'Open Sans', sans-serif;
$secondaryCopy: 'Raleway', sans-serif;

$semiBold: 600;
$bold: 700;